<!DOCTYPE HTML>
<html>
<head>
	<title> Delta Overhead Bin Hack</title>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
	<script type="text/javascript" charset="utf-8">

        var socket = io.connect('http://' + document.domain + ':' + location.port);

		// Send a json message
        socket.on('connect', function() {
            socket.emit('flight info query', { flightnumber: '198800000000'} );
        });


        // Receive a json message
    	socket.on('my event', function(msg) {
            console.log(msg.data);
        });

        
        socket.on('flight info query fail', function(msg) {
            console.log(msg.error);
        });

	</script>

</head>
<body>
	<p> Test </p>
</body>
</html>